@font-face {font-family:'Roboto';font-style:normal;font-weight:400;
    src: local('Roboto'), local('Roboto'), url('../font/Roboto-Regular.ttf') format('truetype');
}
* {
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
	height: 100%;
	font: 12px 'Roboto', Arial, Helvetica, sans-serif;
	background: linear-gradient(#e7fcfa, rgba(199, 240, 238, 0.801));

  }

  
 .header h1 {
	font: normal 400 1.5em 'Roboto', Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0 auto; 
	padding: 3px 0;
 }
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*max-width: 1280px;*/
	width:100%;
	height: 100%;
/*	margin: 0 auto;*/
}

.left-block {
	border: 2px solid #9f8f70;
	border-radius: 10px;
	width: 25%;
	height: 100vh;
	background: -webkit-gradient(linear, left top, left bottom, from(#a1bdcf), to(#69c3db));
  background: linear-gradient(#a1bdcf, #69c3db);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.right-block {
	width: 74%;
	height: 100vh;
}

.bottom-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 33vh;
	/*border: 3px solid blue;*/
	margin-top:0.5rem;
}



.chart-wrapper {
	
	position: relative;

	margin-top: auto;
	margin-bottom: auto;

	width: 51%;
	height: max-content;
	
	background-color: #ffffff;
	transition: 0.3s;
}

.charts {
	margin-bottom: 5px;
	background-color: #fff;
}

.render-chart {
	height: 300px;
}

.chart-button {
	position: absolute;
	top: 0;
	right: 0;

	margin: 0;
	padding: 0;

	width: 30px;
	height: 30px;

	background-image: url(../img/FullScreen.png);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	border-radius: 5px;
	outline: none;
	transition: 0.3s;
	z-index: 999;
}

.chart-button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.chart-button--fullscrean {
	background-image: url(../img/minScreen.png);
}

.chart--fullscrean {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 85vw;
	height: 85vh;
	z-index: 1000;
}

.chart-slider-buttons {
	display: flex;
	justify-content: space-around;
}

.chart-left,
.chart-right {
	width: 30px;
	height: 30px;

	background-color: #fff;
	border: 1px solid #000000;
	border-radius: 5px;
	outline: none;
}

.chart-left:hover,
.chart-right:hover {
	cursor: pointer;
}

.chart-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	cursor: pointer;
}

.chart-overlay--active {
	display: block;
	z-index: 5;
}

/** Map style **/
.map { width: 100%; height: 66vh }
.leaflet-control.legendInfo {
  width: 22px;
  height: 22px;
  background: url('../img/info.png') no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  cursor: pointer;
  z-index: 801;
}
.map .legendInfo:hover { background-position: 0% 0% }
.map .legend span {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map .legend { color: #000 } 
.map .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; }
.map .info { opacity: 0; top: -32px; right: 24px; padding: 6px 8px; font: 14px 'Roboto', Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.9); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
.map .info.openLegend {
    opacity: 1;
    transition: opacity 0.5s;
}
.map .popUp { border: 1px solid gray }
#map.leaflet-container {
    background: rgb(8,164,151);
    background: radial-gradient(circle, rgba(8,164,151,1) 0%, rgba(0,106,182,1) 100%);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	border-radius: 10px;
}
.labelActive label, .labelConfirm label, .labelRecover label, .labelDeaths label {
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    font: normal 400 16px 'Roboto', Arial, Helvetica, sans-serif;
    align-items: center;
}
.labelActive label{
    border: 2px solid #fff;
    background-color: #9f8f70;
}
.labelDeaths label {
    border: 2px solid #fff;
    background-color: #08243d; 
}
.labelRecover label{
    border: 2px solid #fff;
    background-color: #015b70; 
}
.labelConfirm label{
    border: 2px solid #fff;
    background-color: #1694b8;     
}
.leaflet-container input[type="radio"] { display: none }
.leaflet-container .labelActive input[type="radio"]:checked+label {
    background: #fff;
    color: #9f8f70;
    border: 2px solid #9f8f70;
}
.leaflet-container .labelDeaths input[type="radio"]:checked+label {
    background: #fff;
    color: #08243d;
    border: 2px solid #08243d;
}
.leaflet-container .labelRecover input[type="radio"]:checked+label {
    background: #fff;
    color: #015b70;
    border: 2px solid #015b70;
}
.leaflet-container .labelConfirm input[type="radio"]:checked+label {
    background: #fff;
    color: #1694b8;
    border: 2px solid #1694b8;
}

.results {
	height: 50rem;
	overflow: auto;
	width: 100%;
  }
  
  tr {
	vertical-align: middle;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
  }

  .fullWindowContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
  }
  
  .fullWindowButtom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 0.2rem;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
  }
  
  .fullWindow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
  }
  
  .fullWindowEnd {
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	margin-left: 0%;
  }
  
  .fullWindowEndDisplayNone {
	display: none;
  }
  
  .keyboardButton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 2rem;
	height: 1rem;
	cursor: pointer;
  }
  
  .fullScreen {
	z-index:1110;
	width: 100%;
	position: absolute;
  }
  .tables-wrapper {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#a1bdcf), to(#015b70));*/
	/*background: linear-gradient(#e7fcfa, rgba(199, 240, 238, 0.568));*/
	background: linear-gradient(#e7fcfa, rgba(199, 240, 238, 0.801));
	border: 2px solid #9f8f70;
	border-radius: 10px;
  /*border: 2px solid #1694b8;*/
  /*background:#fff;*/
   /*background: #fff;*/
    color: #1694b8;
    
  outline: none;
  padding: 0.5rem;
 width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*color:#666;*/
  font-family: 'Roboto', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

  .total {
	  margin:1.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
			
  }
  
  input {
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
	border: 1px solid #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#e7fcfa), to(rgba(199, 240, 238, 0.568)));
	background: linear-gradient(#e7fcfa, rgba(199, 240, 238, 0.568));
	outline: none;
	padding: 0.5rem;
	margin-bottom: 1rem;
	width: 100%;
	height: 2.5rem;
  }
  
  .countries {
	table-layout: fixed;
	display: table;
	border-collapse: collapse;
	padding: 1rem;
	list-style-type: none;
	border-radius: 3px;
	width: 100%;
  }
  
  .country-item {
	background-color: white;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	border-collapse: collapse;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 2.5rem;
	padding: 0.1rem;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#e7fcfa), to(rgba(199, 240, 238, 0.801)));
	background: linear-gradient(#e7fcfa, rgba(199, 240, 238, 0.801));
	font-size: 1.1rem;
	font-weight: 500;
  }
  
  .country-item__flag {
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.5rem;
  }
  
  .country-item__name {
	font-weight: normal;
	letter-spacing: normal;
	text-align: left;
	width: 65%;
  }
  
  .country-item__header {
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	color: white;
	font-size: 1.1rem;
	background: -webkit-gradient(linear, left top, left bottom, from(#a1bdcf), to(#015b70));
	background: linear-gradient(#a1bdcf,rgba(0,106,182,1));
	padding: 0.2rem;
  }
  
  .country-item__population {
	letter-spacing: normal;
	margin: 0;
	width: 35%;
  }
  
  .country-item__population--text {
	letter-spacing: normal;
	margin: 0;
	text-transform: uppercase;
  }
  
  .country-item__tr {
	-webkit-transition: 0.5s;
	transition: 0.5s;
  }
  
  .displayNone {
	display: none;
  }
  
  .table_sort table {
	border-collapse: collapse;
  }
  
  table thead {
	  font-size: 1.2rem;
	display: block;
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
  }
  
  table tbody {
	width: 100%;
	display: block;
  }
  
  ::-webkit-scrollbar {
	width: 0.1px;
	height: 0.1px;
	background-color: #143861;
  }
  
  .results::-webkit-scrollbar {
	width: 0;
	height: 0;
  }
  
  table {
	width: 100%;
  }
  
  .use-keyboard-input {
	display: block;
	width: 90%;
	margin: 30px auto;
	padding: 10px;
	font-size: 20px;
	height: calc(100vh - 380px);
	min-height: 300px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	outline: none;
  }
  
  .keyboard {
	z-index: 1200;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	background:#e7fcfa;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	user-select: none;
	transition: bottom 0.4s;
  }
  
  .keyboard--hidden {
	bottom: -100%;
  }
  
  .keyboard__keys {
	text-align: center;
  }
  
  .keyboard__key {
	height: 45px;
	width: 6%;
	max-width: 90px;
	margin: 3px;
	border-radius: 13px;
	border: none;
	background: linear-gradient(#a1bdcf,#015b70);
	color: #ffffff;
	font-size: 1.4rem;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .keyboard__key:hover{
	background: #a1bdcf;
  }
  
  .activeFisKeyboard {
	background:#a1bdcf;
  }
  
  .keyboard__key:active {
	background: linear-gradient(#a1bdcf,#08243d);
  }
  
  .keyboard__key--wide {
	width: 12%;
  }
  
  .keyboard__key--extra-wide {
	width: 36%;
	max-width: 500px;
  }
  
  .keyboard__key--activatable::after {
	content: '';
	top: 10px;
	right: 10px;
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
  }
  
  .keyboard__key--active::after {
	background: #08ff00;
  }
  
  .keyboard__key--dark {
	background: rgba(0, 0, 0, 0.25);
  }
  
  .key__number--hidden {
	display: none;
  }
  
  .special__element--hidden {
	display: none;
  }
  
  .ru__hidden {
	display: none;
  }
  
  .en__hidden {
	display:none;
  }
.leaflet-control.labelActive, .leaflet-control.labelConfirm, .leaflet-control.labelRecover, .leaflet-control.labelDeaths { clear: none }
/** End Map style **/